body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0B0F1A;
    color: #F5F7FA;
}

.admin-wrapper {
    min-height: 100vh;
}

.admin-topbar {
    background: #111827;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    background: #111827;
    transition: all 0.3s ease;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar.collapsed span {
    display: none;
}

.sidebar .nav-link {
    padding: 10px;
    border-radius: 5px;
}

.sidebar .nav-link:hover {
    background: linear-gradient(90deg, #00E5FF, #FDB813);
    color: #000 !important;
}

.content {
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -250px;
        top: 0;
        height: 100%;
        z-index: 999;
    }

    .sidebar.active {
        left: 0;
    }
}


.dashboard-card {
    background: #111827;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #1f2937;
    transition: 0.3s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #00E5FF;
}

h3 {
    color: #FDB813;
}
